---
import { SOCIALS } from "@/constants";
import { SITE } from "@/config";
import { getSocialLinkTitle } from "@/i18n/ui";
import { getLocaleFromPathname } from "@/i18n/utils";
import LinkButton from "./LinkButton.astro";

const locale = getLocaleFromPathname(Astro.url.pathname);
---

<div class="flex flex-wrap items-center gap-1">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="p-2 hover:rotate-6 sm:p-1"
        title={getSocialLinkTitle(locale, SITE.title, social.name)}
      >
        <social.icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
        <span class="sr-only">
          {getSocialLinkTitle(locale, SITE.title, social.name)}
        </span>
      </LinkButton>
    ))
  }
</div>
